@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>
        Пробное приложение для тестирования операций с ПСБ <br>
        Для тестирования отдельных операций нажимайте на кнопки в шапке страницы
    </p>
</div>
