@{
    ViewData["Title"] = "Payment";
}
<h1>@ViewData["Title"]</h1>


<form id='payment_form' action='https://test.3ds.payment.ru/cgi-bin/cgi_link' method = 'POST'>
    @foreach (var item in Model)
{
        <input name='@item.Key.ToUpper()' value='@item.Value' />
}
</form>
<script type='text/javascript'>document.getElementById('payment_form').submit();</script>